.MuiBox-root {
  height: 100%;
}

.leftPane {
  color: white;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favPane {
  display: flex;
  justify-content: left;
  margin-left: 16px;
}

.rightPane {
  height: 100%;
  width: 40%;
  background-color: #501214;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ingredientsPane {
  display: flex;
}
.ingredientLabel {
  text-align: left;
  margin-left: 20px;
}
.directionsLabel {
  text-align: left;
}

.ratingPane {
  margin-left: 62%;
}
.textboxSize {
  height: 10%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfo {
  padding: 8px;
  margin: 0px;
}

.userInfo .MuiTextField-root {
  width: 32% !important;
}

.passwordPane {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 0px 4px 0px 8px;
  align-items: baseline;
}

.passwordPane button + button {
  margin-left: 16px;
}

.passwordPane .MuiTextField-root {
  margin-top: 0px !important;
}