
.leftPane {
  color: white;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightPane {
  height: 100%;
  width: 40%;
  background-color: #501214;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginWindow {
  background-color: white;
  color: black;
  height: 80%;
  width: 75%;
  display: inline-block;
  padding: 0px 16px;
}

.loginWindow .MuiTextField-root {
  width: 90% !important;
}

.loginWindow .MuiOutlinedInput-root {
  width: 100% !important;
}

.loginWindow Button {
  margin-left: 16px;
}

.textboxSize {
  height: 10%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
